.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 100px;

  .title {
    color: #3A7859;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    margin-bottom: 150px;
  }

  .score {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #354153;
    margin-bottom: 50px;
  }
}
